body{
    margin: 0;
    padding: 0;
}
.registerbox{
    width: 320px;
    height: 360px;
    background: rgb(24, 24, 19);
    color:#fff ;
    top: 50%;
    left: 50%;
    bottom: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
}
h1{
    color: beige;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

p{
    color: aliceblue;
}
.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.registerbox input{
    width: 100%;
    margin-bottom: 20px;
}
.registerbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid#fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.registerbox input[type="text"], input[type="Email"]
{
    border: none;
    border-bottom: 1px solid#fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.registerbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(132, 216, 249)
}
.registerbox input[type="submit"]:hover
{
    cursor: pointer;
    background: rgb(230, 230, 52);
    color: black;
}
